<div style="border: 2px solid #EDFAF8; border-radius: 5px;padding: 5px;">
    <p>Bonjour!</p>
     <b style="color: #3E504D; font-size: 16px">{{ name }}</b>,
    <div>
        <p>{{ info }}</p>
        <div style="padding: 5px; border: 2px solid black">
            <b>{{ body }}</b>
        </div>
    </div>
    <p>
        <a href="{{ url }}" style="height: 35px;width: 35px;background-color: #0055b8;border-radius: 5px;border: inherit;padding: 10px 20px;color: #fff;text-decoration: none;">Activer mon compte</a>
    </p>

    <p>samaconcours.sn</p>
</div>