<div style="border: 2px solid #EDFAF8; border-radius: 5px;padding: 5px;">
    <p>Bonjour!</p>
     <b style="color: #3E504D; font-size: 16px">{{ name }}</b>,
    <div>
        <p>{{ info }}</p>
        <div style="padding: 5px; border: 2px solid black">
            <b>{{ body }}</b>
        </div>
    </div>
    <p>
        <a href="{{ url }}">Click here to view it</a>
    </p>

    <p>Learn and have fun!</p>
</div>